
<div class="text-center">
<h1 class="text-center">{{title}}</h1>
<div class="div">
 {{#each pager.results}}
<div class="div">
      <ul class="list-group">
         <a href="/bridges/{{_id}}"> <li class="list-group-item"> <i style="font-size:14px" class="fa">&#xf018;</i> Structure No: {{ structureNumber }} </li></a>
      </ul>
      {{else}}
      <p class="empty"><a href="/bridges/">No content, Click here to display all srtuctures.</a></p>
</div> 
{{/each }}
</div>
<div class="text-center">
            <div class="pagination">
                  {{{pager.render}}}
            </div>
</div>